node_modules/
www/
android/.gradle/
android/local.properties
android/release-signing.properties
android/app/*.jks
android/app/*.keystore
android/**/build/
apk/*.apk
ios/App/Pods/
ios/App/DerivedData/
ios/App/build/
