/* Manrope variable, Cyrillic + Latin, SIL OFL. Source and license in assets/fonts. */
@font-face {
  font-family: Manrope;
  src: url("assets/fonts/Manrope-variable.ttf") format("truetype");
  font-style: normal;
  font-weight: 200 800;
  font-display: swap;
}
